@model IEnumerable<Book> //foerach ile dönülebilir bir product nesnesi tanıttık
@{
    ViewData["Title"] = "Ana Sayfa";
    var counter = 0;
}
@{
    ViewBag.PublisherList = ViewBag.PublishersList;
    ViewBag.AuthorList = ViewBag.AuthorsList;
}

<div class="row">
    @foreach (var book in Model)
    {
        @if (counter != 0 && counter % 4 == 0)
        {
        @: </div>
        @: <div class="row">
        }
        <div class="col-3">
            <partial name="_BookCard" model="@book"><partial />
        </div>
        counter++;
    }
</div>

<ul class="pagination">
    @for (int i = 1; i <= ViewBag.TotalPages; i++)
    {
        <li class="page-item"><a class="page-link" asp-action="Index" asp-controller="Home" asp-route-page="@i" asp-route-catid="@ViewBag.CatId">@i</a></li>
    }
</ul>
